*{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 600px) {
  .background {
   /*  position: fixed;
    top: 0;
    left: 0; */
    background-image: url('./img/clement-proust-m3StSUrsi3I-unsplash.jpg');
    background-position: center;
    height: 100vh;
    width: 100%;
    max-width: 100vh; /* Establece el ancho máximo igual a la altura de la pantalla */
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
  }
}
